.header{
    padding: 8px 20px;
    display:flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);

}
.header__left{
    display:flex;
}

.header__input{
    display:flex;
    align-items:center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.header__left > img{
    height: 40px;
}

.header__input > input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}
.header__center{
    display:flex;
    flex: 1;
    justify-content:center;
}

.header__option > .MuiSvgIcon-root{
    color: gray;
    font-size: 1.9rem;
}

.header__option:hover > .MuiSvgIcon-root{
    color: #1877f2;
}

.header__option__active > .MuiSvgIcon-root{
    color: #1877f2;
}
.header__option__active {
    border-bottom: 4px solid #1877f2;
}

.header__option{
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
    margin-right: 10px;
}

.header__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom:none;
}

.header__info{
    display: flex;
    align-items: center;
    
}

.header__info > h4{
    margin-left: 10px;
}

.header__right{
    display:flex;
}
.header__right .account__control > .icon{
    background-color: #e4e6eb;
    color: #1c1e21;
    margin-left:10px;
    font-size: 12px;
    width: 12px;
    height: 12px;
    padding: 20px;
}
/* .header__right .account__control > .MuiSvgIcon-root{
    font-size: 12px;
} */