.post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
}

.post__top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post__avatar{
    margin-right: 10px;
}
.post__topInfo > h3{
    font-size: medium;
}
.post__bottom > p{
    font-size: small;
    color: gray;
    padding-bottom: 8px;
}

.post__image > img {
    width: 100%;
}

.post__options {
    display: flex;
    justify-content:space-around;
    padding-top: 10px;
    border-top: 1px solid lightgray;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding:15px;
}

.post__option{
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 5px;
    flex:1;
}