.sidebarRow{
    display:flex;
    align-items:center;
    padding: 10px;
    cursor:pointer;
}

.sidebarRow:hover{
    background-color:lightgray;
    border-radius:10px;
}

.sidebarRow > h4{
    margin-left:15px;
    font-weight: 500;
    font-size:15px;
}

.sidebarRow > .MuiSvgIcon-root{
    font-size:x-large;
    color: #2e81f4;
}
.sidebarRow > .MuiAvatar-img{
    font-size: 1rem;
}

